data
data_split
data_raw
Garbage.v3i.yolov8
multi_object_data
results
runs

.venv
.idea


*.zip

*.pt

multi_object_data_
multi_object_data_test
multi_object_data_val

.gitignore

/__pycache__/

kaggle

